$color-primary: #0c62f3;
// $color-primary-rgb: 12, 98, 243;
$color-bg-light: #fff;
$color-text-primary: #000;
$color-text-primary__active: #0c62f3;
$color-text-accent: #0c62f3;
$color-btn-text: #0c62f3;
$color-btn-bg: #fff;
$color-btn-border: #0c62f3;
$color-btn-text__focus: #fff;
$color-btn-bg__focus: #0c62f3;
$color-btn-primary-text: #fff;
$color-btn-primary-bg: #0c62f3;
$color-btn-primary-border: #0c62f3;
$color-text-dark-grey: #858585;

@font-face {
  font-family: "TTCommons";
  src: url("../../static/fonts/TTCommons-Regular.woff") format("woff"),
    url("../../static/fonts/TTCommons-Regular.woff2") format("woff2"),
    url("../../static/fonts/TTCommons-Regular.eot") format("opentype"),
    url("../../static/fonts/TTCommons-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "TTCommons";
  src: url("../../static/fonts/TTCommons-Bold.woff") format("woff"),
    url("../../static/fonts/TTCommons-Bold.woff2") format("woff2"),
    url("../../static/fonts/TTCommons-Bold.eot") format("opentype"),
    url("../../static/fonts/TTCommons-Bold.ttf") format("truetype");
  font-weight: 800;
}

$font-sans-serif: "TTCommons", sans-serif, system-ui, -apple-system, Segoe UI,
  Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

// $bs-blue: #0c62f3;
// $bs-indigo: #6610f2;
// $bs-purple: #6951ff;
// $bs-pink: #d63384;
// $bs-red: #ff4e4e;
// $bs-orange: #fd7e14;
// $bs-yellow: #ffc107;
// $bs-green: #198754;
// $bs-teal: #20c997;
// $bs-cyan: #0dcaf0;
// $bs-lightblue: #f2f0ff;
// $bs-white: #fff;
// $bs-lightgray: #f0f0f0;
// $bs-middlegray: #dcdcdc;
// $bs-darkgray: #858585;
// $bs-gray: #afacc1;
// $bs-gray-dark: #343a40;
// $bs-primary: #6951ff;
// $bs-secondary: #6c757d;
// $bs-success: #198754;
// $bs-info: #0dcaf0;
// $bs-warning: #ffc107;
// $bs-danger: #ff4e4e;
// $bs-light: #f8f9fa;
// $bs-dark: #212529;
