@import "./assets/variables.scss";
@import "./assets/mixins.scss";

.get-started {
  margin-top: 83px;
  text-align: center;
  .title {
    letter-spacing: 0.01rem;
    -webkit-text-size-adjust: 100%;
  }
  .narration {
    letter-spacing: 0.01rem;
    margin-top: 0.5rem;
  }
  &__features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
  }
  &__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2rem;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  &__item-text {
    margin-left: 0.5rem;
    font-weight: 200;
  }
}

.button-container {
  margin: auto;
  margin-top: 2.5rem;
}
#book-meeting {
  font-size: 1.125rem;
  // padding: 1rem 2rem;
  padding: 0.9rem 1.2rem;
}

.stories-look {
  position: relative;
  // margin-top: 90px;
  align-content: center;
  overflow-x: hidden;
  display: flex;
  margin: 125px auto 0 auto;
  justify-content: center;
  &__example {
    min-width: 1471px;
    // position: absolute;
    // display: block;
    // left: 0;
    // right: 0;
    // margin: auto;
  }
}

.partnerships {
  padding: 70px 0;
  height: fit-content;
  box-sizing: border-box;
  background-repeat: repeat;
  .slider {
    height: 65px;
  }
}

.marketing-goals {
  margin: auto;
  @include auto-indent;
  max-width: 1280px;
  &__subtitle {
    margin-bottom: 16px;
  }
}

.marketing-slider {
}

.features {
  padding-top: 140px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

  p,
  h2,
  h3 {
    color: #fff;
  }

  &__title-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 55px;
    h2 {
      margin-bottom: 28px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__items {
    // @include auto-indent;
    display: flex;
    flex-direction: column;
    max-width: 1280px;

    &:nth-last-child(1) {
      margin-bottom: 123px;
    }

    .feature,
    .feature_reversed {
      display: flex;
      justify-content: center;
      margin-bottom: 20p;
      &__text-container {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-left: 1rem;
        padding-right: 1rem;
        .subtitle3,
        .narration {
          margin-bottom: 1.5rem;
        }
      }
      &__img-container {
        width: 60%;
      }
    }

    .feature_reversed {
      flex-direction: row-reverse;
      &__text-container {
        margin-right: 0;
        margin-left: auto;
      }
    }
    .feature {
      &__text-container {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }
}

.stats {
  background-color: $color-primary;
  padding: 108px 0;

  .container {
    max-width: 1280px;
    .title {
      margin-bottom: 56px;
    }
  }
  h2,
  p {
    color: #fff;
  }
  &__title {
    margin-bottom: 56px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;

    .stat-container {
      width: 25%;
      padding-right: 1rem;
      .title {
        margin-bottom: 7px;
      }
      .narration {
        margin-bottom: 20px;
        padding-bottom: 23px;
      }
      .separator {
        width: 100%;
        height: 1px;
        overflow: visible;
        position: relative;
        background-color: hsla(0, 0%, 100%, 0.2);
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: -2px;
          height: 3px;
          width: 80px;
          background-color: #000;
        }
      }
    }
  }
}

.reviews {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(#0c62f3, #0c62f3 153px, $lightgray 0, $lightgray);
  background-color: $lightgray;

  text-align: left;

  &__container {
    // max-width: 1680px;
    background-color: $lightgray;
  }
  .subtitle3 {
    color: #fff;
  }
  &__top-panel {
    .subtitle3 {
      font-weight: 400;
      margin-bottom: 1.5rem;
    }
  }
}

.awards {
  background-color: #fff;
  padding: 45px 0;
  display: flex;
  justify-content: center;

  &__container {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .award {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__stars {
      margin-top: 2rem;
    }
    &__label {
      font-size: 1.5rem;
      color: $darkgray;
      margin-top: 1.5rem;
    }
  }
}

.media-about-us {
  background-color: $lightgray;
}

.how-it-works {
  margin-top: 108px;
  display: flex;
  justify-content: center;
  &__container {
    max-width: 1280px;

    .subtitle {
      margin-bottom: 55px;
    }

    .steps {
      display: flex;
      @include auto-indent;

      &__step-campaign {
        width: calc(100% / 3);
        padding-right: 15px;
        margin-bottom: 4.5rem;
        svg {
          margin-bottom: 30px;
        }
        .subtitle3 {
          position: relative;
          font-weight: 800;
          margin-bottom: 15px;
          font-size: 18px;
          &::before {
            content: "";
            display: block;
            position: relative;
            width: 100%;
            height: 1px;
            top: 11.3px;
            background-color: #000;
            z-index: -1;
          }
          span {
            padding-right: 1rem;
            background-color: #fff;

            display: inline-block;
            z-index: -1;
            &::after {
              content: "";
              display: flex;
              position: absolute;
              right: 0;
              top: 8px;
              width: 5px;
              height: 8px;

              background-image: url("../../static/images/arrow.svg");
            }
          }
        }
        .narration {
          font-size: 16px;
        }
        &:nth-last-child(1) {
          padding: 0;
          .subtitle3 {
            &::before {
              content: none;
            }
            span {
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}

.get-demo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 72px;

  &__container {
    padding: 70px 100px;
    @include color-and-rounding;
    display: flex;
    width: 1280px;
    p,
    input,
    h2 {
      color: #fff;
    }

    .subtitle,
    .narration {
      margin-bottom: 16px;
    }
  }

  &__description {
    max-width: 350px;
  }

  &__form-container {
    width: 100%;

    .form {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      &__input {
        max-width: 380px;
        color: #fff;
        background-color: transparent;
        font-size: 1.25rem;
        padding-left: 19px;
        display: block;
        width: 100%;
        overflow: visible;
        // min-height: calc(1.25em + 1.5rem + 4px);
        // padding: 0.75rem 1.125rem;
        // font-size: 1.125rem;
        // font-weight: 400;
        // line-height: 1.25;
        // color: #000;
        // background-color: #fff;
        // background-clip: padding-box;
        border: 2px solid #fff;
        // -webkit-appearance: none;
        // -moz-appearance: none;
        // appearance: none;
        border-radius: 0.4375rem;
        &::placeholder {
          color: #fff;
        }
      }
      &__button {
        background-color: #fff;
        color: $color-primary;
        margin-left: 1rem;
        font-size: 1.25rem;
      }
    }
  }
}
